
/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Center the form on the page */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #de8a31, #d25508);
}

/* Form container */
form {
    background-color: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Title */
form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Input fields */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

/* Input focus effect */
form input:focus {
    border-color: #d36714;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

/* Button styling */
form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a43d09;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button hover effect */
form button:hover {
    background-color: #a1561a;
}
